project:
  output-dir: _site
  render:
    - cyp-blog-post.qmd
format:
  html:
    # self-contained: true  # re-enable for final publish
    toc: true
    code-fold: true
    number-sections: true
execute:
  cache: true
  warning: false
knitr:
  opts_chunk:
    fig.align: "center"
    warning: false
    message: true
    collapse: true
    echo: true
